body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.productHeader {
  margin-bottom: 15px;
}
.single-big-view {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
#singleViewHeader {
  color: black;
  font-weight: bold;
  font-size: 18pt;
  margin-top: 10px;
}
