* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}

.productHeader {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.single-big-view {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

#singleViewHeader {
  color: black;
  font-weight: bold;
  font-size: 18pt;
  margin-top: 10px;
}

#small-card-header {
  color: black;
  font-weight: bold;
  font-size: 14pt;
}

#small-card-description {
  text-align: initial;
  margin-top: 5px;
}

.small-card-image {
  padding: 0px;
  margin-right: 0px;
}

.ui.card {
  width: 278px;
  background-color: white;
}

.ui.card:first-child {
  margin: 1em 0;
}

#big-view-description {
  font-weight: bold;
}

#SITE-HEADER {
  text-align: center;
}

.Form {
  margin-top: 7%;
  margin-left: 45%;
  margin-right: 45%;
}

.shopping-cart {
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.removeCartButton {
  height: 35px;
  align-self: center;
}

.profile {
  text-align: center;
  align-self: center;
}

#googleButton a {
  color: white;
}
#googleButton {
  align-self: center;
  width: 180px;
  background-color: red;
}

#price {
  color: black;
}
